<h1>EAT-DA-BURGER</h1>

{{!-- List of burgers not eaten --}}
<h2>Burgers ready to devour!</h2>
<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
        {{/unless}}
    {{/each}}
</ul>

{{!-- List of burgers eaten --}}
<h2>Burgers I've devoured!</h2>
<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger-block devour=false}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">
    <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name">
    </div>
    <div class="form-group">
        <label for="devoured">Devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> Devoured!<br>
        <input type="radio" name="devoured" value="0"> Ready to devour!
    </div>

    <button type="submit">Add Burger</button>
</form>
